@import url('https://use.typekit.net/rcr1opg.css');
@tailwind base;
@tailwind components;
*{
    font-family: 'cubano', sans-serif;
    font-weight: normal;
    letter-spacing: normal;
    font-style: normal;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@tailwind utilities;